@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return $dark-color;
    }

    @else {
        @return $white-color;
    }
}

.section-tittle {
    padding: 10px;
    width: 100%;
}

.fas {
    padding-right: 5px;
}