$dark-color:#3A405A;
$light-color:#F4F1DE;
$white-color:#fff;
$primary-color:#6E44FF;
$secondary-color:#FF90B3;
$medium-color:#FFC2E2;
$success-color:#6BBF59;
$danger-color:#DB162F;
$warning-color:#EC9F05;