<mat-nav-list>
  <h2 matSubheader><mat-icon>pages</mat-icon> Páginas</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>speed</mat-icon> Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
    ><mat-icon>book</mat-icon> Posts</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"
    ><mat-icon>article</mat-icon> Articles</a
  >
  <mat-divider></mat-divider>
  <h2 matSubheader><mat-icon>build</mat-icon> Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>import_contacts</mat-icon> Importar Contactos</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
    ><mat-icon>contacts</mat-icon> Lista de Contactos</a
  >
</mat-nav-list>
